<div class="col-sm-3 offset-sm-1 blog-sidebar">
  <div class="sidebar-module sidebar-module-inset">
    <h4>Blog Page</h4>
    <p>This page is dedicated to my blogs. Blogging helps me as a developer understand a topic more thoroughly. If I can understand a topic enough to teach someone else, then I feel that I have a good understanding of that subject.</p>
  </div>

  <%= source_helper("alert alert-info blog-sidebar-source") %>

  <div class="sidebar-module">
    <h4>Topics</h4>
    <% @side_bar_topics.each do |topic| %>
      <p><%= link_to topic.title, topic_path(topic) %></p>
    <% end %>
  </div>

  <div class="sidebar-module">
    <h4>Elsewhere</h4>
    <ol class="list-unstyled social-links">
      <li><a href="https://github.com/Prestonhall31" target="_blank"><%= fa_icon "github" %></a></li>
      <li><a href="https://www.linkedin.com/in/preston-hall-92371699" target="_blank"><%= fa_icon "linkedin" %></a></li>
    </ol>
  </div>
</div>
