<div class="app-card-container">
  <div class="card">
    <h1>Contact Me</h1>

    <hr>

    <div class="row">
      <div class="col-md-6">
        <h3>Office Address</h3>

        <p>6925 S Union Park Center #100, Midvale, UT 84047</p>

        <h3>Phone number</h3>

        <p><%= number_to_phone "8014485666" %></p>

        <h5>Email</h5>

        <p><a href="mailto:prestonhall31@gmail.com?subject=PortfolioContact" "email me"> prestonhall31@gmail.com</a></p>

      </div>

      <div class="col-md-6">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3113.369832251561!2d-111.8604576537746!3d40.62482275554481!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x875289d5462b1ddf%3A0x1dec4b8e43fe9432!2s6925+S+Union+Park+Center%2C+Midvale%2C+UT+84047!5e0!3m2!1sen!2sus!4v1487095777359" width="450" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>


<!-- <p><%= number_to_currency "150.15" %></p> -->

<!-- <p><%= number_to_percentage "80.4" %></p> -->

<!-- <p><%= number_with_delimiter "98465168156" %></p> -->
