<div class="inner cover">
  <h1 class="cover-heading">Welcome.</h1>
  <p class="lead">Welcome to my website. This is tell you everything you need to know about me. </p>
  <p class="lead">
    <%= link_to "About Me", about_path, class: "btn btn-lg btn-secondary" %>
  </p>
</div>
